body{
    color:white;
    background:rgba(149, 149, 149, 0.86);font-family:Microsoft JhengHei ;
}
h3{color:#5d7458;font:2rem;font-family:Microsoft JhengHei }
tr{background: rgba(149, 149, 149, 0.54);color:white;font:0.8rem;text-align: center;border-style:inset;border-color:white
}
th{color:white;font-weight:bold;background:rgba(124, 113, 113, 0.86)}
.major{background:rgb(255, 7, 7);color: aliceblue}
#Taipei{background:rgba(155, 44, 44, 0.95));color:white}
Strong{color:white;font-weight:bold;background:rgb(255, 29, 0)}
.exercise{;color:rgba(242, 234, 233, 0.73);font-size:1.2rem;font-weight:bold;}
#chiachen{background-color: #b2cbc6;color:white;font-weight:bold}
#address{background-color: rgba(16, 1, 1, 0.86);color:white}
a{color:white}
hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}