body{
    color:rgba(20, 34, 60, 0.65);
    background:#f2f2f2
}
tr{background:#cdd8d0;font:1rem;text-align: center;
}
.major{background: #709183;color: aliceblue}
#Taipei{background:#b2c4a7;color:darkgreen}